html
    head
    title Person

style
    include ../public/css/index.css

body
form
h2 Voornaams
<input value='#{firstname}'/>

h2 Achternaam
<input value='#{lastname}'/>

h2 Leeftijd
<input value='#{age}'/>

h2 Geslachr
<input value='#{gender}'/>

h2 Sporten
<input value='#{sports}'/>