html
    head
    title Person

style
    include ../public/css/index.css

body
h1 #{firstname} #{lastname} (#{age} years old) - #{gender}
p #{sports}
a(href='/person/edit/' + _id ) Edit your profile
