html
    head
    title Person

style
    include ../public/css/index.css

body
h1 #{firstname} #{lastname} (#{age} years old) - #{gender}
div
  div#sportwrapper
    ul
      each val in sports
        li= val
