html
    head
    title Person

style
    include ../public/css/index.css

body
h1 #{firstname} #{lastname} (#{age} years old) - #{gender}
div#imgWrappez: img#profilePic(src = 'http://lorempixel.com/600/300/people/')
div
  div#sportwrapper
    ul
      each val in sports
        li= val
