doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Amor datingsite
    link(rel='stylesheet', href='https://use.typekit.net/uyr6mwg.css')
    link(rel='stylesheet', href='/css/amor.css')
  body
    header
      section.menu
        a.account(href='/account')
          img.account-icon(src='img/user.svg', alt='Mijn profiel')
        a.logout(href='/logout')
          img.logout-icon(src='img/logout.svg', alt='Uitloggen')
    section.submenu
      h1 Amor
    main
      aside
        form.filter(action='/persons')
          #category Filter op sport
          ul
            li
              input#avontuur(type='checkbox', name='atletiek', checked=request.query.atletiek=="on")
              label(for='avontuur') Atletiek
            li
              input#romantisch(type='checkbox', name='fitness', checked=request.query.fitness=="on")
              label(for='romantisch') Fitness
            li
              input#juridisch(type='checkbox' name='gymnastiek', checked=request.query.gymnastiek=="on")
              label(for='juridisch') Gymnastiek
            li
              input#horror(type='checkbox' name='hardlopen', checked=request.query.hardlopen=="on")
              label(for='horror') Hardlopen
            li
              input#koken(type='checkbox' name='hockey', checked=request.query.hockey=="on")
              label(for='koken') Hockey
            li
              input#biografie(type='checkbox' name='honkbal', checked=request.query.honkbal=="on")
              label(for='biografie') Honkbal
            li
              input#detective(type='checkbox' name='paardensport', checked=request.query.paardensport=="on")
              label(for='detective') Paardensport
            li
              input#humor(type='checkbox' name='tennis', checked=request.query.tennis=="on")
              label(for='humor') Tennis
            li
              input#psychologie(type='checkbox' name ='schaatsen', checked=request.query.schaatsen=="on")
              label(for='psychologie') Schaatsen
            li
              input#romantisch(type='checkbox' name='voetbal', checked=request.query.voetbal=="on")
              label(for='romantisch') Voetbal
            li
              input#agressief(type='checkbox' name='volleybal', checked=request.query.volleybal=="on")
              label(for='agressief') Volleybal
            li
              input#technologie(type='checkbox' name='waterpolo', checked=request.query.waterpolo=="on")
              label(for='technologie') Waterpolo
            li
              input#sport(type='checkbox' name='zwemmen', checked=request.query.zwemmen=="on")
              label(for='sport') Zwemmen
          button(type=submit) Filter

      section.persons
          -for(var i = 0; i < persons.length; i++)
              article
                  .article-container
                      .article-image-container
                          img.article-image(src='http://lorempixel.com/600/300/people?' + persons[i]._id)
                      h2 #{persons[i].firstname} • #{persons[i].age} jaar • #{persons[i].sports ? persons[i].sports[0] : "" }
                      p #{persons[i].description}
                      a(href='/person/' + persons[i]._id) Meer over mij!
          article
              button Meer studenten
    footer
      p
        | Copyright Paulien©
